.card-button {
    width: 100%;
    display: block;
    padding: 20px;
    border-radius: 3px;
    border: none;
    text-align: start;
    color: #FFF;
    background: rgba(255, 255, 255, 0.03);
    cursor: pointer;
}

.card-button:hover {
    background: rgba(255,255,255, 0.1);
}